.App {
	height: 100%;
	text-align: center;
}

.nav-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 100%;
	height: 10%;
	background-color: #2f3640;
}

.nav-wrapper {
	font-size: x-large;
	margin: auto auto;
}

.logo {
	color: white;
	text-decoration: none;
}
