.App {
	height: 100%;
	text-align: center;
}

.nav-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 100%;
	height: 10%;
	background-color: #2f3640;
}

.nav-wrapper {
	font-size: x-large;
	margin: auto auto;
}

.logo {
	background-image: linear-gradient(to left, green, yellow, orange, red);
	-webkit-background-clip: text;
	color: transparent;
}

.icon-btn {
	color: red;
	width: 50px;
	height: 50px;
	border: 1px solid #000000;
	background-color: #2f3640;
	border-radius: 25px;
	overflow: hidden;
	position: relative;
	transition: width 0.2s ease-in-out;
}

.add-btn:hover {
	width: 120px;
}
.add-btn::before,
.add-btn::after {
	transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
	content: "";
	position: absolute;
	height: 4px;
	width: 10px;
	top: calc(50% - 2px);
	background-image: linear-gradient(to left, yellow, orange, yellow);
}
.add-btn::after {
	right: 14px;
	overflow: hidden;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}
.add-btn::before {
	left: 14px;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}
.icon-btn:focus {
	outline: none;
}
.btn-txt {
	opacity: 0;
	transition: opacity 0.2s;
}
.add-btn:hover::before,
.add-btn:hover::after {
	width: 4px;
	border-radius: 2px;
}
.add-btn:hover .btn-txt {
	opacity: 1;
}
.add-icon::after,
.add-icon::before {
	transition: all 0.2s ease-in-out;
	content: "";
	position: absolute;
	height: 20px;
	width: 2px;
	top: calc(50% - 10px);
	background-image: linear-gradient(to left, yellow, orange, yellow);
	overflow: hidden;
}
.add-icon::before {
	left: 22px;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}
.add-icon::after {
	right: 22px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}
.add-btn:hover .add-icon::before {
	left: 15px;
	height: 4px;
	top: calc(50% - 2px);
}
.add-btn:hover .add-icon::after {
	right: 15px;
	height: 4px;
	top: calc(50% - 2px);
}

.bracket-container {
	margin-top: 100px;
	position: relative;
	width: 150px;
	height: 75px;
	border: 4px dashed #fff;
	background-color: #444444;
	text-align: center;
	font-size: 1em;
}

main,
ul {
	display: flex;
}

ul {
	flex-direction: column;
	width: 200px;
	list-style: none;
	padding: 0;
}

.game + li {
	flex-grow: 1;
}

li:first-child,
li:last-child {
	flex-grow: 0.5;
}

.game {
	padding-left: 20px;
}

.game-top {
	border-bottom: 1px solid #aaa;
}

.game-top + li {
	border-right: 1px solid #aaa;
	min-height: 40px;
}

.game-bottom {
	border-top: 1px solid #aaa;
}
